doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Title
    link(rel="stylesheet" href="/stylesheets/style.css")
  body
    nav 
      ul #[span.section Categories]
        each cat in loCategories
          li
            a(href=cat.url)= cat.name
        li
          a(href=loCategoryCreateUrl) Add new
      ul #[span.section Products]
        li
          a(href=loProductCreateUrl) Add new
    main
      block content