extends layout

block content
  h1 Delete product
  p Are you sure you want to delete the product '#{product.name}'?
  form(method="POST")
    button(type="submit") Delete
    button(type="button")
      a(href=product.url) Cancel